
#banner-pane {
    width: 100%;
    height: 120px;
    background-color: #000066;
}
body {
    background-color: #0000aa;
    color: white;SS
}

.bg-transparent {
    background-color: black;

    border: 0
}
